<div class="top-header">
    <div class="logo">
        <p>Cinema Times</p>
    </div>
    <div class="search">
        <form>
            <input type="text" value="Search.." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search..';}"/>
            <input type="submit" value="">
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<div class="review-slider">
    <ul id="flexiselDemo1">
        <li>
            <img src="assets/images/r1.jpg" alt=""/><br>
            <button class="btn btn-sm btn-danger">Tickets</button>
            <button class="btn btn-sm btn-primary">Info</button>
        </li>
        <li>
            <img src="assets/images/r2.jpg" alt=""/><br>
            <button class="btn btn-sm btn-danger">Tickets</button>
            <button class="btn btn-sm btn-primary">Info</button>
        </li>
        <li>
            <img src="assets/images/r3.jpg" alt=""/><br>
            <button class="btn btn-sm btn-danger">Tickets</button>
            <button class="btn btn-sm btn-primary">Info</button>
        </li>
        <li>
            <img src="assets/images/r4.jpg" alt=""/><br>
            <button class="btn btn-sm btn-danger">Tickets</button>
            <button class="btn btn-sm btn-primary">Info</button>
        </li>
        <li>
            <img src="assets/images/r5.jpg" alt=""/><br>
            <button class="btn btn-sm btn-danger">Tickets</button>
            <button class="btn btn-sm btn-primary">Info</button>
        </li>
        <li>
            <img src="assets/images/r6.jpg" alt=""/><br>
            <button class="btn btn-sm btn-danger">Tickets</button>
            <button class="btn btn-sm btn-primary">Info</button>
        </li>
    </ul>
    <script type="text/javascript">
        $(window).load(function() {
            $("#flexiselDemo1").flexisel({
                visibleItems: 6,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint:480,
                        visibleItems: 2
                    },
                    landscape: {
                        changePoint:640,
                        visibleItems: 3
                    },
                    tablet: {
                        changePoint:768,
                        visibleItems: 4
                    }
                }
            });
        });
    </script>
    <script type="text/javascript" src="assets/js/jquery.flexisel.js"></script>
</div>