<div style="margin-top: 3em;"></div>
<div class="col-md-4 col-md-offset-1">
        <h2>Already a member?</h2>
        <h4>Login here!</h4>
        <form>
            <input type="text" class="form-control" placeholder="Email"><br>
            <input type="text" class="form-control" placeholder="Password"><br>
            <button class="btn btn-primary">Login</button>
            <button class="btn btn-link">Forgotten Password?</button>
         </form><br>
        <img src="assets/images/guest.png" class="img-responsive" style="height:20em; max-width:none;">
</div>
<div class="col-md-4 col-md-offset-2">
    <h2>Not a member?</h2>
    <h4>Signup here!</h4>
    <form>
        <input type="text" class="form-control" placeholder="Email"><br>
        <input type="password" class="form-control" placeholder="Password"><br>
        <input type="password" class="form-control" placeholder="Confirm Password"><br>
        <button class="btn btn-primary">Signup</button>
    </form><br>
    <h4>Contact us on:</h4>
    <p>Email: contact@movietimes.lk</p>
    <p>Office:+94117555555</p>
</div>
<div class="col-md-offset-1"></div>