<div class="full">
    <div class="main">
        <div class="header">
            <div class="top-header">
                <div class="logo">
                    <p>Cinema Times</p>
                </div>
                <div class="search">
                    <form>
                        <input type="text" value="Search.." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search..';}"/>
                        <input type="submit" value="">
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="login">
                <div class="social-buttons">
                    <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
                    <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
                </div>
                <br><p>OR</p><br>
                <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                    <div class="form-group">
                        <label class="sr-only" for="exampleInputEmail2">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="exampleInputPassword2">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
                        <div class="help-block text-right"><a href="">Forget the password ?</a></div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                        <div class="help-block text-right"><a href="/register">New user? Register here</a></div>
                    </div>
                </form>
            </div>

        </div>
        <div class="review-slider">
            <ul id="flexiselDemo1">
                <li><img src="../assets/images/r1.jpg" alt=""/></li>
                <li><img src="../assets/images/r2.jpg" alt=""/></li>
                <li><img src="../assets/images/r3.jpg" alt=""/></li>
                <li><img src="../assets/images/r4.jpg" alt=""/></li>
                <li><img src="../assets/images/r5.jpg" alt=""/></li>
                <li><img src="../assets/images/r6.jpg" alt=""/></li>
            </ul>
            <script type="text/javascript">
                $(window).load(function() {

                    $("#flexiselDemo1").flexisel({
                        visibleItems: 6,
                        animationSpeed: 1000,
                        autoPlay: true,
                        autoPlaySpeed: 3000,
                        pauseOnHover: false,
                        enableResponsiveBreakpoints: true,
                        responsiveBreakpoints: {
                            portrait: {
                                changePoint:480,
                                visibleItems: 2
                            },
                            landscape: {
                                changePoint:640,
                                visibleItems: 3
                            },
                            tablet: {
                                changePoint:768,
                                visibleItems: 4
                            }
                        }
                    });
                });
            </script>
            <script type="text/javascript" src="../assets/js/jquery.flexisel.js"></script>
        </div>
        <div class="news">
            <div class="col-md-6 news-left-grid">
                <h3>Don’t like wasting time?</h3>
                <h2>Book your ticket now!</h2>
                <h4>Easy, simple & fast.</h4>
                <a href="#"><i class="book"></i>BOOK TICKET AS A GUEST</a>
            </div>
            <div class="col-md-6 news-right-grid">
                <img style="height: 500px" src="assets/images/guest.png">
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="main-contact">
            <h3 class="head">CONTACT</h3>
            <p>WE'RE ALWAYS HERE TO HELP YOU</p>
            <div class="contact-form">
                <form>
                    <div class="col-md-6 contact-left">
                        <input type="text" placeholder="Name" required/>
                        <input type="text" placeholder="E-mail" required/>
                        <input type="text" placeholder="Phone" required/>
                    </div>
                    <div class="col-md-6 contact-right">
                        <textarea placeholder="Message"></textarea>
                        <input type="submit" value="SEND"/>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>